---
title: Home
layout: default
---

<main class="home">

	<!-- banner -->
	<section class="banner">
		<img class="banner-img" src="{{ site.baseurl }}assets/img/header-img.jpg" alt="banner">
		<div class="banner-wrapper-info">
			<div class="banner-box-center">
				<h2 class="banner-title">Assessoria de inovação</h2>
				<p class="banner-subtitle">Buscamos soluções criativas com processo de design para criar inovação.</p>
				<div class="row-buttons">
					<a href="{{ site.baseurl }}/about" class="btn-secondary">Sobre mim</a>
					<a href="{{ site.baseurl }}/contact" class="btn-primary">Fale Comigo</a>
				</div>
			</div>
			<div class="banner-box-bottom">
				<a href="mailto:ola@giovana.cc">{{ site.email }}</a>
				<div class="wrapper-btn-scroll">
					<p>Role para baixo</p>
					<i class="icon-scroll">scroll</i>
				</div>
				<a href="tel:+5511976757107">+55 11 97675 7107</a></li>
			</div>
		</div>
	</section>

	<!-- services -->
	<section id="services" class="sample-services">
		<div class="services-content container">
			<div class="box-services">
				<img class="services-icon" src="{{ site.baseurl }}assets/icons/assessoria.svg" alt="">
				<div class="services-info">
					<h3 class="services-title">Assessoria</h3>
					<p class="services-description">feita em encontro presencial que proporciona um processo criativo com ferramentas e metodologias que instigam a inovação.</p>	
				</div>
			</div>
			<div class="box-services">
				<img class="services-icon" src="{{ site.baseurl }}assets/icons/agilidade.svg" alt="">
				<div class="services-info">
					<h3 class="services-title">Agilidade</h3>
					<p class="services-description">para criar soluções objetivas, práticas e facilmente aplicáveis.</p>	
				</div>
			</div>
			<div class="box-services">
				<img class="services-icon" src="{{ site.baseurl }}assets/icons/inovacao.svg" alt="">
				<div class="services-info">
					<h3 class="services-title">Inovação</h3>
					<p class="services-description">na busca pela evolução. Usamos ferramentas e processos atualizados que trazem resultados alinhados com as necessidades do mercado atual.</p>	
				</div>
			</div>
		</div>
	</section>

	<!-- projects -->
	<section id="portfolio" class="sample-best-projects">
		<h4 class="section-title">Veja meus melhores trabalho</h4>
		<p class="section-subtitle">Cada um conta uma história e uma trajetória. Confira!</p>

		<ul class="list-filter-projects">
			<li class="item-filter-projects"><a href="">All</a></li>
			<li class="item-filter-projects active"><a href="">Digital</a></li>
			<li class="item-filter-projects"><a href="">Branding</a></li>
			<li class="item-filter-projects"><a href="">Marketing</a></li>
			<li class="item-filter-projects"><a href="">Video</a></li>
			<li class="item-filter-projects"><a href="">Photo</a></li>
		</ul>

		<div class="wrapper-projects">
		{% assign projects = site.projects | sort: 'order' %}
	    {% for project in projects %}
	      	{% if project.type == 'latest' %}
			<a href="{{ site.baseurl }}/{{ project.permalink }}" class="a">
				<div class="projects">
					<img src="{{ site.baseurl }}/upload/{{ project.image }}" alt="">
					<div class="wrapper-title-projects">
						<p class="title-project">{{ project.title }}</p>	
					</div>
				</div>
			</a>
			<a href="{{ site.baseurl }}/{{ project.permalink }}" class="b">
				<div class="projects">
					<img src="{{ site.baseurl }}/upload/{{ project.image }}" alt="">
					<div class="wrapper-title-projects">
						<p class="title-project">{{ project.title }}</p>	
					</div>
				</div>
			</a>
			<a href="{{ site.baseurl }}/{{ project.permalink }}" class="c">
				<div class="projects">
					<img src="{{ site.baseurl }}/upload/{{ project.image }}" alt="">
					<div class="wrapper-title-projects">
						<p class="title-project">{{ project.title }}</p>	
					</div>
				</div>
			</a>
			<a href="{{ site.baseurl }}/{{ project.permalink }}" class="d">
				<div class="projects">
					<img src="{{ site.baseurl }}/upload/{{ project.image }}" alt="">
					<div class="wrapper-title-projects">
						<p class="title-project">{{ project.title }}</p>	
					</div>
				</div>
			</a>
			<a href="{{ site.baseurl }}/{{ project.permalink }}" class="e">
				<div class="projects">
					<img src="{{ site.baseurl }}/upload/{{ project.image }}" alt="">
					<div class="wrapper-title-projects">
						<p class="title-project">{{ project.title }}</p>	
					</div>
				</div>
			</a>
			{% endif %}
    	{% endfor %}
		</div>
		<a href="" class="btn-primary">Ver mais</a>
	</section>

	<!-- cooperation -->
	<section id="clients" class="sample-cooperation container">
		<h4 class="section-title">Com quem colaborei</h4>
		<p class="section-subtitle">Colaboração: trabalho feito em comum com uma ou mais pessoas</p>
		<div class="wrapper-cooperation-projects">
			<div class="cooperation-projects">
				<img class="cooperation-img" src="{{ site.baseurl }}assets/img/layer.png" alt="">
			</div>

			<div class="cooperation-projects">
				<img class="cooperation-img" src="{{ site.baseurl }}assets/img/layer2.png" alt="">
			</div>

			<div class="cooperation-projects">
				<img class="cooperation-img" src="{{ site.baseurl }}assets/img/layer.png" alt="">
			</div>

			<div class="cooperation-projects">
				<img class="cooperation-img" src="{{ site.baseurl }}assets/img/layer2.png" alt="">
			</div>
			<div class="cooperation-projects">
				<img class="cooperation-img" src="{{ site.baseurl }}assets/img/layer.png" alt="">
			</div>

			<div class="cooperation-projects">
				<img class="cooperation-img" src="{{ site.baseurl }}assets/img/layer2.png" alt="">
			</div>

			<div class="cooperation-projects">
				<img class="cooperation-img" src="{{ site.baseurl }}assets/img/layer.png" alt="">
			</div>

			<div class="cooperation-projects">
				<img class="cooperation-img" src="{{ site.baseurl }}assets/img/layer2.png" alt="">
			</div>
			<div class="cooperation-projects">
				<img class="cooperation-img" src="{{ site.baseurl }}assets/img/layer.png" alt="">
			</div>

			<div class="cooperation-projects">
				<img class="cooperation-img" src="{{ site.baseurl }}assets/img/layer2.png" alt="">
			</div>

			<div class="cooperation-projects">
				<img class="cooperation-img" src="{{ site.baseurl }}assets/img/layer.png" alt="">
			</div>

			<div class="cooperation-projects">
				<img class="cooperation-img" src="{{ site.baseurl }}assets/img/layer2.png" alt="">
			</div>
			<div class="cooperation-projects">
				<img class="cooperation-img" src="{{ site.baseurl }}assets/img/layer.png" alt="">
			</div>

			<div class="cooperation-projects">
				<img class="cooperation-img" src="{{ site.baseurl }}assets/img/layer2.png" alt="">
			</div>

			<div class="cooperation-projects">
				<img class="cooperation-img" src="{{ site.baseurl }}assets/img/layer.png" alt="">
			</div>

			<div class="cooperation-projects">
				<img class="cooperation-img" src="{{ site.baseurl }}assets/img/layer2.png" alt="">
			</div>
		</div>
	</section>

	<!-- testimony -->
	<section id="testimonials" class="testimonials">
		<h4 class="section-title">Depoimentos</h4>
		<p class="section-subtitle">Veja o que os clientes acharam do meu trabalho</p>
		
		<!-- slider -->
		<div class="slider-testimonials container">
			<div class="box-slider">
				<div class="box-content">
					<img src="{{ site.baseurl }}assets/icons/comma.svg" alt="" class="icon-commas">
					<div class="wrapper-text-slider">
						<p class="text-slider">
							Do you want to be even more successful? 
							Learn to love learning and growth. The more effort you put into improving your skills, the bigger the payoff you will get. Realize that things will be hard at first, but rewards worth it.
						</p>
						<div class="info-text">
							<p class="info-name">Calum Chambers</p>
							<span>—</span>
							<p class="info-role">Adobe sales manager</p>
						</div>
					</div>
				</div>
			</div>
			<div class="box-slider">
				<div class="box-content">
					<img src="{{ site.baseurl }}assets/icons/comma.svg" alt="" class="icon-commas">
					<div class="wrapper-text-slider">
						<p class="text-slider">
							Do you want to be even more successful? 
							Learn to love learning and growth. The more effort you put into improving your skills, the bigger the payoff you will get. Realize that things will be hard at first, but rewards worth it.
						</p>
						<div class="info-text">
							<p class="info-name">Calum Chambers</p>
							<span>—</span>
							<p class="info-role">Adobe sales manager</p>
						</div>
					</div>
				</div>
			</div>
			<div class="box-slider">
				<div class="box-content">
					<img src="{{ site.baseurl }}assets/icons/comma.svg" alt="" class="icon-commas">
					<div class="wrapper-text-slider">
						<p class="text-slider">
							Do you want to be even more successful? 
							Learn to love learning and growth. The more effort you put into improving your skills, the bigger the payoff you will get. Realize that things will be hard at first, but rewards worth it.
						</p>
						<div class="info-text">
							<p class="info-name">Calum Chambers</p>
							<span>—</span>
							<p class="info-role">Adobe sales manager</p>
						</div>
					</div>
				</div>
			</div>
			<div class="box-slider">
				<div class="box-content">
					<img src="{{ site.baseurl }}assets/icons/comma.svg" alt="" class="icon-commas">
					<div class="wrapper-text-slider">
						<p class="text-slider">
							Do you want to be even more successful? 
							Learn to love learning and growth. The more effort you put into improving your skills, the bigger the payoff you will get. Realize that things will be hard at first, but rewards worth it.
						</p>
						<div class="info-text">
							<p class="info-name">Calum Chambers</p>
							<span>—</span>
							<p class="info-role">Adobe sales manager</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- call to action -->
	<section class="call-to-action">
		<h4 class="title-cta">Pronto para inovar?</h4>
		<a href="{{ site.baseurl }}/contact" class="btn-cta">Vamos falar</a>
	</section>

	<!-- blog -->
	<section id="blog" class="blog">
		<h4 class="section-title">Novidades do blog</h4>
		<p class="section-subtitle">Vem ver as novidades do blog. Lá eu escrevo sobre design, inovação, empreendedorismo e muito mais. Não perca!</p>

		<div class="container">
			<div class="wrapper-posts">
				<!-- First Card -->
				<div class="post-card">
					<a href="">
						<img src="{{ site.baseurl }}assets/img/teste2.png" alt="" class="img-post">
						<div class="post-info">
							<p class="post-category">Design</p>
							<p class="post-title">Branding Do You Know Who You Are</p>
							<div class="post-about">
								<p>por <span class="post-author">Giovana Ansoain</span></p>
								<p class="post-date">25 Nov.</p>
							</div>
						</div>
					</a>
				</div>
				<!-- Second Card -->
				<div class="post-card">
					<a href="">
						<img src="{{ site.baseurl }}assets/img/teste2.png" alt="" class="img-post">
						<div class="post-info">
							<p class="post-category">Design</p>
							<p class="post-title">Branding Do You Know Who You Are</p>
							<div class="post-about">
								<p>por <span class="post-author">Giovana Ansoain</span></p>
								<p class="post-date">25 Nov.</p>
							</div>
						</div>
					</a>
				</div>
				<!-- Third Card -->
				<div class="post-card">
					<a href="">
						<img src="{{ site.baseurl }}assets/img/teste2.png" alt="" class="img-post">
						<div class="post-info">
							<p class="post-category">Design</p>
							<p class="post-title">Branding Do You Know Who You Are</p>
							<div class="post-about">
								<p>por <span class="post-author">Giovana Ansoain</span></p>
								<p class="post-date">25 Nov.</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
</main>
