<footer>
	<div class="footer-map">
		<div class="container">
			<ul class="list-map-site">
				<li class="item-map logo-map"><a href="{{ site.url }}/">{{ site.title }}</a></li>
				<li class="item-map"><strong>Buscamos soluções criativas com processo de design para criar inovação.</strong></li>
			</ul>
			<ul class="list-map-site">
				<li class="item-map"><a href="{{ site.url }}/">Home</a></li>
				<li class="item-map"><a href="{{ site.url }}servicos">Serviços</a></li>
				<li class="item-map"><a href="{{ site.url }}portfolio">Portfólio</a></li>
				<li class="item-map"><a href="{{ site.url }}depoimentos">Depoimentos</a></li>
				<li class="item-map"><a href="{{ site.url }}contato">Contato</a></li>
				<li class="item-map"><a href="{{ site.url }}blog">Blog</a></li>
			</ul>
			<ul class="list-map-site">
				<li class="item-map"><a href="tel:+5511976757107">+55 11 97675 7107</a></li>
				<li class="item-map"><a href="mailto:ola@giovana.cc">{{ site.email }}</a></li>
			</ul>

		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<p>&copy; Copyright {{ site.time | date: '%Y' }} {{ site.title }}. Todos os direitos reservados</p>
			<ul class="list-social-media">
			    <li class="item-social-media"><a class="i-fb" href="https://www.facebook.com/design.inovacao" target="_blank" class="icon-social-media">Facebook</a></li>
			    <li class="item-social-media"><a class="i-tw" href="https://twitter.com/giovanaansoain" target="_blank" class="icon-social-media">Twitter</a></li>
			    <li class="item-social-media"><a class="i-in" href="https://www.linkedin.com/in/giovanaansoain/" target="_blank" class="icon-social-media">Linkedin</a></li>
			    <li class="item-social-media"><a class="i-ins" href="https://www.instagram.com/giovanaansoain/" target="_blank" class="icon-social-media">Instagram</a></li>
			</ul>
		</div>
	</div>
</footer>
<script>
	var GLOBAL_URL = "{{ site.url }}";
</script>
<script type="text/javascript" src="{{ site.url }}assets/js/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="{{ site.url }}assets/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="{{ site.url }}assets/js/jquery.validate.js"></script>
<script type="text/javascript" src="{{ site.url }}assets/js/slick.min.js"></script>
<script type="text/javascript" src="{{ site.url }}assets/js/scripts.js"></script>
