<header>
  <h1 ><a class="logo" href="{{ site.baseurl }}">{{ site.title }}</a></h1>
  <button class="hamburger hamburger--collapse">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <nav class="nav-header">
    <ul class="nav-list">
      <li class="nav-item-list"><a href="{{ site.baseurl }}">Home</a></li>
      <li class="nav-item-list"><a href="#services">Serviços</a></li>
      <li class="nav-item-list"><a href="#portfolio">Portfólio</a></li>
      <li class="nav-item-list"><a href="#clients">Clientes</a></li>
      <li class="nav-item-list"><a href="#testimonials">Depoimentos</a></li>
      <li class="nav-item-list"><a href="{{ site.baseurl }}/contato">Contato</a></li>
      <li class="nav-item-list"><a href="#blog">Blog</a></li>
      <li class="nav-item-list"><a href="{{ site.baseurl }}">En</a></li>
    </ul>
  </nav>
  <ul class="list-social-media">
    <li class="item-social-media"><a class="i-fb" href="https://www.facebook.com/design.inovacao" target="_blank" class="icon-social-media">Facebook</a></li>
    <li class="item-social-media"><a class="i-tw" href="https://twitter.com/giovanaansoain" target="_blank" class="icon-social-media">Twitter</a></li>
    <li class="item-social-media"><a class="i-in" href="https://www.linkedin.com/in/giovanaansoain/" target="_blank" class="icon-social-media">Linkedin</a></li>
    <li class="item-social-media"><a class="i-ins" href="https://www.instagram.com/giovanaansoain/" target="_blank" class="icon-social-media">Instagram</a></li>
  </ul>
</header>