.banner{
	width: 100%;
	height: 100%;
	height: 100vh;
	background: $color-black;
	position: relative;

	@media screen and (max-width: $screen-sm-max){
		height: 60%;
		height: 60vh;
	}
}

.banner.banner-pages{
	height: 80%;
	height: 80vh;

	@media screen and (max-width: $screen-sm-max){
		height: 60%;
		height: 60vh;
	}
}

.banner-img{
	height: 100%;
	width: 100%;
	opacity: 0.5;
	object-fit: cover;
}

.banner-title{
	font-family: $montserrat;
	font-size: 70px;
	font-weight: bold;
	line-height: normal;
	text-align: center;
	color: $color-white;
	margin-bottom: 30px;

	@media screen and (min-width: $screen-md) and (max-width: $screen-md-max){
		font-size: 55px;
	}

	@media screen and (min-width: $screen-sm) and (max-width: $screen-sm-max){
        font-size: 40px;
    }

    @media screen and (max-width: $screen-xs-max){
        font-size: 30px;
    }
}

.banner-subtitle{
	font-family: $garamond;
	font-size: 22px;
	line-height: normal;
	text-align: center;
	color: $color-white;
	margin-bottom: 45px;

	@media screen and (min-width: $screen-sm) and (max-width: $screen-md-max){
        font-size: 18px;
    }

    @media screen and (max-width: $screen-xs-max){
        font-size: 16px;
    }
}

.banner-wrapper-info{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
    align-items: center;
    justify-content: center
}

.banner-box-center, .banner-box-bottom{
	width: 100%;
	padding: 0 40px;

	@media screen and (max-width: $screen-sm-max){
        padding: 0 18px;
    }
}

.banner-box-center{
	text-align: center;
}

.banner-box-bottom{
	position: absolute;
	left: 0;
	bottom: 40px;
	display: inline-flex;
	align-items: flex-end;
	justify-content: space-between;

	@media screen and (min-width: $screen-xlg){
		bottom: 90px;
	}

	a{
		font-family: $montserrat;
		font-size: 16px;
		letter-spacing: normal;
		text-align: left;
		color: $color-white;

		@media screen and (max-width: $screen-md-max){
			font-size: 14px;
		}
	}
}

.row-buttons{

	a + a {
		margin-left: 20px;
	}
}

@media screen and (max-width: $screen-xs-max){
	
	.banner .btn-primary, .banner .btn-secondary{
		width: 148px;
	}
}