.contact{

	.contact-info{
		display: flex;
	    justify-content: space-around;
	    align-items: flex-end;
	}

	.item-contact-info{
		text-align: center;

		img{
			height: 70px;
			margin-bottom: 40px;
		}

		p{
			font-family: $montserrat;
			font-size: 16px;
			font-weight: 300;
			color: #666666;
		}
	}
}