/*Garamond*/
@font-face {
    font-family: 'Garamond';
    src: url('../fonts/Cormorant_Garamond/CormorantGaramond-Light.eot');
    src: url('../fonts/Cormorant_Garamond/CormorantGaramond-Light.otf'),
         url('../fonts/Cormorant_Garamond/CormorantGaramond-Light.woff') format('woff'),
         url('../fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond';
    src: url('../fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.eot');
    src: url('../fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.otf'),
         url('../fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.woff') format('woff'),
         url('../fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Garamond';
    src: url('../fonts/Cormorant_Garamond/CormorantGaramond-Regular.eot');
    src: url('../fonts/Cormorant_Garamond/CormorantGaramond-Regular.otf'),
         url('../fonts/Cormorant_Garamond/CormorantGaramond-Regular.woff') format('woff'),
         url('../fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond';
    src: url('../fonts/Cormorant_Garamond/CormorantGaramond-Italic.eot');
    src: url('../fonts/Cormorant_Garamond/CormorantGaramond-Italic.otf'),
         url('../fonts/Cormorant_Garamond/CormorantGaramond-Italic.woff') format('woff'),
         url('../fonts/Cormorant_Garamond/CormorantGaramond-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Garamond';
    src: url('../fonts/Cormorant_Garamond/CormorantGaramond-Bold.eot');
    src: url('../fonts/Cormorant_Garamond/CormorantGaramond-Bold.otf'),
         url('../fonts/Cormorant_Garamond/CormorantGaramond-Bold.woff') format('woff'),
         url('../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond';
    src: url('../fonts/Cormorant_Garamond/CormorantGaramond-BoldItalic.eot');
    src: url('../fonts/Cormorant_Garamond/CormorantGaramond-BoldItalic.otf'),
         url('../fonts/Cormorant_Garamond/CormorantGaramond-BoldItalic.woff') format('woff'),
         url('../fonts/Cormorant_Garamond/CormorantGaramond-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/*Lora*/
@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/Lora-Regular.eot');
    src: url('../fonts/Lora/Lora-Regular.otf'),
         url('../fonts/Lora/Lora-Regular.woff') format('woff'),
         url('../fonts/Lora/Lora-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/Lora-Italic.eot');
    src: url('../fonts/Lora/Lora-Italic.otf'),
         url('../fonts/Lora/Lora-Italic.woff') format('woff'),
         url('../fonts/Lora/Lora-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/Lora-Bold.eot');
    src: url('../fonts/Lora/Lora-Bold.otf'),
         url('../fonts/Lora/Lora-Bold.woff') format('woff'),
         url('../fonts/Lora/Lora-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/Lora-BoldItalic.eot');
    src: url('../fonts/Lora/Lora-BoldItalic.otf'),
         url('../fonts/Lora/Lora-BoldItalic.woff') format('woff'),
         url('../fonts/Lora/Lora-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/*Montserrat*/
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Thin.eot');
    src: url('../fonts/Montserrat/Montserrat-Thin.otf'),
         url('../fonts/Montserrat/Montserrat-Thin.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ThinItalic.eot');
    src: url('../fonts/Montserrat/Montserrat-ThinItalic.otf'),
         url('../fonts/Montserrat/Montserrat-ThinItalic.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraLight.eot');
    src: url('../fonts/Montserrat/Montserrat-ExtraLight.otf'),
         url('../fonts/Montserrat/Montserrat-ExtraLight.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraLightItalic.eot');
    src: url('../fonts/Montserrat/Montserrat-ExtraLightItalic.otf'),
         url('../fonts/Montserrat/Montserrat-ExtraLightItalic.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Light.eot');
    src: url('../fonts/Montserrat/Montserrat-Light.otf'),
         url('../fonts/Montserrat/Montserrat-Light.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-LightItalic.eot');
    src: url('../fonts/Montserrat/Montserrat-LightItalic.otf'),
         url('../fonts/Montserrat/Montserrat-LightItalic.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat/Montserrat-Regular.otf'),
         url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Italic.eot');
    src: url('../fonts/Montserrat/Montserrat-Italic.otf'),
         url('../fonts/Montserrat/Montserrat-Italic.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat/Montserrat-Medium.otf'),
         url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-MediumItalic.eot');
    src: url('../fonts/Montserrat/Montserrat-MediumItalic.otf'),
         url('../fonts/Montserrat/Montserrat-MediumItalic.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat/Montserrat-SemiBold.otf'),
         url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-SemiBoldItalic.eot');
    src: url('../fonts/Montserrat/Montserrat-SemiBoldItalic.otf'),
         url('../fonts/Montserrat/Montserrat-SemiBoldItalic.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat/Montserrat-Bold.otf'),
         url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-BoldItalic.eot');
    src: url('../fonts/Montserrat/Montserrat-BoldItalic.otf'),
         url('../fonts/Montserrat/Montserrat-BoldItalic.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.eot');
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.otf'),
         url('../fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.eot');
    src: url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.otf'),
         url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Black.eot');
    src: url('../fonts/Montserrat/Montserrat-Black.otf'),
         url('../fonts/Montserrat/Montserrat-Black.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-BlackItalic.eot');
    src: url('../fonts/Montserrat/Montserrat-BlackItalic.otf'),
         url('../fonts/Montserrat/Montserrat-BlackItalic.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/*Nixie One*/
@font-face {
    font-family: 'Nixie One';
    src: url('../fonts/Nixie_One/NixieOne-Regular.eot');
    src: url('../fonts/Nixie_One/NixieOne-Regular.otf'),
         url('../fonts/Nixie_One/NixieOne-Regular.woff') format('woff'),
         url('../fonts/Nixie_One/NixieOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}