@mixin bg($path, $size: contain){
	background-image: url($path);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: $size;
}

@mixin cover(){
	background: no-repeat center center;
	background-size: cover;
}

@mixin ir($path, $size){
	@include bg($path, $size);
	@include ti;
}

@mixin ti(){
	text-indent: -9999px;
}

@mixin placeColor($color: inherit){
	&::-webkit-input-placeholder { color: $color; }
	&:-moz-placeholder { color: $color; }
	&::-moz-placeholder { color: $color; }
	&:-ms-input-placeholder { color: $color; }
}
