.project-single {
    h1 {
      color: $color__main;
    }
}
.return {
  display: none;
}
@include media-breakpoint-up(lg) {
    .return {
        float: left;
        display: block;
        margin-left: -100px;
        margin-top: -10px;
        a img {
          height: 38px;
        }
    }
}

//Latest Projects Page
#lastest-projects .project-single {
    padding: 80px 0;
    border-bottom: solid 1px $color__light_gray;
    &:nth-child(2) {
        padding-top: 0;
    }
    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
}
