.project-info{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.project-info-item{
    max-width: 30%;
}

.project-info-title{
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 6;
    color: #a7a7a7;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.project-info-text{
    font-family: $lora;
    font-size: 18px;
    line-height: 30px;
    color: #3d3d3d;
    text-align: center;
}

.project-single{

    padding: 0 40px;

    @media screen and (min-width: $screen-sm) and (max-width: $screen-sm-max){
        padding: 0 15px;
    }

    @media screen and (max-width: $screen-xs-max){
        padding: 0 10px;
    }
    
    p{
        font-family: $lora;
        font-size: 18px;
        line-height: 30px;
        color: #3d3d3d;
        text-align: left;

        img{
            width: 100%;
        }
    }
}