.wrapper-cooperation-projects{
	display: flex;
    flex-flow: row wrap;

    .cooperation-projects {
    	display: grid;
    	flex: 0 1 24%;
        padding: 5px;
        margin: 1px;
    }

    .cooperation-img {
    	height: auto;
        object-fit: cover;
        display: grid;
	}
}