.sample-best-projects{
	text-align: center;
}

.list-filter-projects{
	display: inline-flex;

	@media screen and (max-width: $screen-xs-max){
      flex-wrap: wrap;

      .item-filter-projects{
      	width: 50%;
      	margin-bottom: 10px;
      }
    }
}

.item-filter-projects + .item-filter-projects{
	margin-left: 45px;

	@media screen and (max-width: $screen-xs-max){
		margin-left: 0;
	}
}

.item-filter-projects>a{
	font-family: $montserrat;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2.4px;
	text-align: center;
	text-transform: uppercase;
	color: $color-subtitle;
}

.item-filter-projects.active>a{
	color: #db2c1f;
}

.wrapper-projects{
	display: flex;
    flex-flow: row wrap;
    margin: 60px 0;

    @media only screen and (max-width: $screen-sm-max){
		margin: 25px 0;
	}

    a{
    	flex: 0 1 33.3%;

    	@media only screen and (max-width: $screen-xs-max){
			flex: 0 1 50%;
		}
    }

    .projects{
    	display: grid;
    	position: relative;
    }

    .projects>img {
    	width: 100%;
	    height: 330px;
	    object-fit: cover;
	    display: grid;

	    @media only screen and (max-width: $screen-xs-max){
			height: auto;
		}
	}
}

.wrapper-title-projects{
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8)); 
    background: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
    background: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8)); 

	width: 100%;
    height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	padding: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    .title-project{
    	font-family: $montserrat;
    	font-size: 20px;
    	font-weight: 600;
    	line-height: 34px;
    	letter-spacing: 2px;
    	text-transform: uppercase;
    	text-align: left;
    	color: $color-white;
    }
}