.wrapper-cooperation-projects{
	display: flex;
    flex-flow: row wrap;

    .cooperation-projects {
    	display: grid;
    	flex: 0 1 50%;
    }

    .cooperation-img {
    	width: 100%;
	    height: 330px;
	    object-fit: cover;
	    display: grid;

        @media only screen and (max-width: $screen-xs-max){
            height: auto;
        }
	}
}