$selection: #000000;
$color-black: #000000;
$color-white: #ffffff;
$color-red: #db2c1f;
$color-light-black: #1c1c1c;
$color-gray: #9a9a9a;
$color-title: #3e3e3e;
$color-subtitle: #4b4b4b;
$montserrat: 'Montserrat', sans-serif;
$lora: 'Lora', sans-serif;
$garamond: 'Garamond', sans-serif;