.footer-map{
	background: #222222;
	padding-top: 80px;
    padding-bottom: 80px;
    color: $color-white;

	.container{
		display: flex;
		align-items: flex-start;

		@media screen and (max-width: $screen-sm-max) {
			justify-content: space-between;
		}

		@media screen and (max-width: $screen-xs-max){
			flex-wrap: wrap;
		}
	}

	@media screen and (max-width: $screen-xs-max){
		padding-bottom: 40px;
	}
}

.footer-bottom{
	background: #1c1c1c;
	padding-top: 30px;
    padding-bottom: 30px;

    @media screen and (max-width: $screen-xs-max){
		padding-top: 40px;
    	padding-bottom: 80px;
	}

	.container{
		display: flex;
	    align-items: center;
	    justify-content: space-between;

	    @media screen and (max-width: $screen-xs-max){
			flex-wrap: wrap-reverse;
		}
	}

	p{
		font-family: $montserrat;
		font-size: 12px;
		font-weight: 300;
		line-height: 2.17;
		color: #525252;

		@media screen and (max-width: $screen-xs-max){
			text-align: center;
		}
	}

	.list-social-media{
		list-style: none;
		list-style-position: inside;
		
		@media screen and (max-width: $screen-xs-max){
			margin-bottom: 40px;
		}
	}
}

.list-map-site{
	max-width: 300px;
	list-style: none;
	list-style-position: inside;

	@media screen and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
		max-width: 275px;
	}

	@media screen and (max-width: $screen-xs-max) {
		max-width: 100%;
	}
}

.list-map-site + .list-map-site{
	margin-left: 80px;

	@media screen and (max-width: $screen-xs-max) {
		margin-left: 0;
		margin-top: 40px;
	}
}

.list-map-site:nth-child(1){
	font-family: $garamond;
	font-size: 16px;
	line-height: 1.63;
	color: #fefefe;

	strong{
		font-weight: normal;
	}

	@media screen and (max-width: $screen-xs-max){
		text-align: center;
    }
}

.list-map-site:nth-child(2){
	font-family: $montserrat;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 2.15;
	text-transform: uppercase;

	@media screen and (max-width: $screen-xs-max){
		width: 300px;
    	margin: 40px auto 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.item-map:after {
	        margin: 15px;
	        content: "|";
	        font-family: $montserrat;
	        font-size: 13px;
	        color: $color-white;
	    }

	    .item-map:nth-child(3):after{
	        content: "";
	        margin: 0;
	    }

	    .item-map:last-child:after {
	        content:"";
	        margin: 0;
	    }
    }
}

.list-map-site:nth-child(3){
	font-family: $montserrat;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1.3px;
	line-height: 2;

	.item-map{
		margin-bottom: 13px;
	}

	@media screen and (max-width: $screen-xs-max){    
	    width: 100%;
	    text-align: center;
    }
}

.logo-map{
	display: block;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-indent: -9999px;
    width: 110px;
    height: 47px;
    margin-bottom: 25px;

    @media screen and (max-width: $screen-xs-max){
		width: 100%;
    }
}